name: Python CI

# CINTENT >> MANUAL TRIGGER
# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
#   schedule:
#     - cron: '0 18 * * *'
on: [repository_dispatch, workflow_dispatch]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {command: black, args: "--check --diff ."}
          # CINTENT >> REMOVE_MATRIX
          # - {command: flake8, args: ""}
          # - {command: isort, args: ". --check --diff"}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'

      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@3638849e94bdb037f0a405375686a8550e6df904
        with:
          nonblocking: true

      - name: Install
        run: pip install ${{matrix.command}}
       
      - name: Run ${{matrix.command}}
        run: ${{matrix.command}} ${{matrix.args}}

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
